# Created by .ignore support plugin (hsz.mobi)
venv
.idea
core/secret
.pytest_cache
*__pycache__*
*parsed_retouching.csv*
playground.py
write_key.py
.DS_Store
build_jamf_api_client
jamf_analyzation/admin_rights
jamf_analyzation/group_data
jamf_analyzation/retouching

