# Created by .ignore support plugin (hsz.mobi)
venv
.idea
.pytest_cache
*__pycache__*
*parsed_retouching.csv*
playground.py
write_key.py
.DS_Store
build_jamf_client
jamf_analyzation/admin_rights
jamf_analyzation/group_data
jamf_analyzation/retouching
core/aio_jamf.py
jamf_analyzation/creative_ruby_versions.csv
core/config.py
*.json